//Bootstrap
$primary: #01c101;
$secondary: #000000;
$light: #fffdfa;

@import '~bootstrap/scss/bootstrap.scss';

// Variables
:root{
  
}

@font-face {
  font-family: "public sans";
  src: url("./assets/fonts/PublicSans/PublicSans-Bold.otf");
}

@font-face {
  font-family: "code saver";
  src: url("./assets/fonts/CodeSaver/CodeSaver-Regular.otf");
}

body{
  background-color: $light;
  font-family: "public sans";
  line-height: 1;
}

//Pane
.v-pane{
  height: 100%;
}

.h-pane{
  width: 100%;
}

.pane{
  @extend .v-pane;
  @extend .h-pane;
}

@each $colorname, $color in $theme-colors {
  .pane-#{$colorname} {
    @extend .pane;
    background-color: $color;
  }
}

//Page
.page{
  width: 100vw;
  height: 100vh;
}

@each $colorname, $color in $theme-colors {
  .page-#{$colorname} {
    @extend .page;
    background-color: $color;
    @if $color == $light{
      color: $secondary;
    } @else if $color == $secondary{
      color: $light;
    }
  }
}

//Fonts
.font-codesaver{
  font-family: 'code saver';
}